@model CRM.Models.LeadViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form>
    <input type="hidden" id="leadId" value="@Model.Id" />
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10 margin-bottom">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10 margin-bottom">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phones, new { @class = "col-md-2 control-label" })
        <div class="col-md-10 margin-bottom">
            @Html.TextBoxFor(m => m.Phones.FirstOrDefault().PhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Phones.FirstOrDefault().PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2">Notes</label>
        <div class="col-md-10 margin-bottom" id="notes">
            @foreach (string note in Model.Notes)
            {
                <textarea class="form-control margin-bottom">@note</textarea>
            }
            <button type="button" id="add_note" class="btn btn-default"><i class="glyphicon-plus"></i></button>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2">Message</label>
        <div class="col-md-10 margin-bottom">
            <textarea class="form-control margin-bottom" id="message"></textarea>
            <button type="button" id="send_message" class="btn btn-default">Send</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" id="edit_button" value="Save" class="btn btn-default" />
        </div>
    </div>
</form>

@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/Lead/editLead.js")

