
@{
    ViewBag.Title = "Index";
}

<h2>Leads</h2>

<div>
    @Html.Partial("~/Views/Grid/_GridPagePartial.cshtml")
    <a href="/Lead/Create">New Lead</a><br />
    @Html.ActionLink("Emulate phone call", "Index", "Phone")
    <a class="pull-right" href="/Customer">Customers</a>
</div>

@Styles.Render("~/content/jquery-ui.min.css")
@*@Scripts.Render("~/Scripts/jquery-3.3.1.min.js")*@
@Scripts.Render("~/Scripts/jquery-ui.min.js")
@Scripts.Render("~/scripts/grid.js")