@model CRM.Models.ItemToCreateViewModel

@{
	ViewBag.Title = "Generate Data";
}

<h2>ViewBag.Title</h2>

@using (Html.BeginForm())
{
	<div class="form-group">
		@Html.LabelFor(m => m.ItemType, new { @class = "col-md-2 control-label" })
		<div class="col-md-10 margin-bottom">
			@Html.EnumDropDownListFor(
				x => x.ItemType,
				"Select My Type",
				new { @class = "form-control" })

			@Html.ValidationMessageFor(m => m.ItemType, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.Count, new { @class = "col-md-2 control-label" })
		<div class="col-md-10 margin-bottom">
			@Html.TextBoxFor(m => m.Count, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Count, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Generate Data" class="btn btn-default" />
		</div>
	</div>
}

